// Release.xcconfig
// Wara
// Created by Meow on 02/11/25

// Define scheme & host for production API
API_SCHEME = https
API_HOST = api.wara.web.id

// Construct base URL if referenced elsewhere
SLASH = /
API_BASE_URL = $(API_SCHEME):$(SLASH)/$(API_HOST)

// Stabilize SwiftUI Previews on iPhone Simulator even under Release
SWIFT_COMPILATION_MODE[sdk=iphonesimulator*] = singlefile
SWIFT_OPTIMIZATION_LEVEL[sdk=iphonesimulator*] = -Onone